<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1>Location</h1>
		<FORM method="post" action="/save_location">
			<TABLE>
				<tr><th>Police Boat</th>
					<td><input type="text" name="Police_boat" placeholder="Enter the Police_boat"></td>
				</tr>
				<tr><th>Lat</th>
				<td><input type="text" name="lat" placeholder="Enter the lat"></td>
				</tr>
				<tr>
					<th>Lng</th>
					<td><input type="text" name="lng" placeholder="Enter the lng"></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="save Location">
				</tr>
			</TABLE>
		</FORM>	
	</body>
</html>